.basket-container {
  padding-top: 2rem;
  margin: 0 auto;
  width: 88%;
}

.basket-minheiht {
  min-height: 50rem;
}

.basket-header {
  padding-left: 2rem !important;
}

.basket-button {
  position: absolute !important;
  top: 2rem !important;
  right: 9rem !important;
}

.card-item {
  margin-top: 2rem !important;
  width: 25rem !important;
  cursor: pointer;
}